/*F o n t s*/

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*V a r i a b l e s*/
:root {
  --basic-black: #000000;
  --basic-black2: #333333;
  --basic-blue: #81B3D2;
  --special-blue: #669EC0;
  --special-blue2: #5496BD;
  --basic-white: #FFFFFF;
  --special-white-block: #6A6A6A;
  --basic-grey: #EEEEEE;
  --basic-grey2: #F2F2F2;
  --special-grey: #ABABAB;
  --special-grey2: #CACACA;
  --special-grey3: #666666;
  --special-grey4: #BDBBBC;
  --special-grey-popup: #F2F2F2;
  --special-grey-popup2: #A9A9A9;
  --special-grey-popup3: #EBEBEB;
  --basic-brown: #766357;
  --basic-brown2: #666666;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --special-brown: #604E43;
  --special-brown2: #503E33;
  --grey-border: #e5e5e5;
}

.page {
  height: 100%;
}

.page-body {
  width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}




/*ТЭГИ нужно заменить на классы*/
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*NAVIGATION*/

.main-header {
  margin-bottom: -20px;
}

/*.nav {}

.nav-logo {}
*/
.site-nav {
  /*display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 56px;
  list-style: none;
  text-align: center;
  vertical-align: middle;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  /*Нужно ли задавать ширину таким образом?*/
  list-style: none;
}

.nav-list-item1 {
  grid-column: 1/2;
}

.nav-list-item2 {
  grid-column: 2/3;
}

.nav-list-item3 {
  grid-column: 3/4;
  padding-top: 0px;
  margin-top: -20px;
  z-index: 2;
}

.nav-list-item4 {
  grid-column: 4/5;
}

/*Сделать HOOVERы*/

.familiarity {
  display: grid;
  margin-top: -20px;
  grid-template-rows: 510px 215px;
  text-align: center;
  width: 1200px;
  height: 725px;
}

.familiarity-bg {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 1200px;
  /*height: 510px;*/
  grid-template-columns: 1fr;
}

.fam-welcome {
  text-align: center;
  padding-top: 80px;
}

.familiarity-text {
  grid-column: 1fr;
  grid-row: 2/3;
}

.fam-text-1,
.fam-text-2 {
  line-height: 26px;
}

.fam-text-1 {
  font-size: 21px;
}

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.adv-box-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.adv-box-7,
.adv-box-1 {
  text-align: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.adv-box-2 {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.adv-box-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 60px;
}

.adv-box-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 60px;
}

.adv-box-5 {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-top: 55px;
}

.adv-box-svg {
  text-align: center;
  vertical-align: middle;
}

.adv-box-6 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.adv-box-7 {
  grid-column: -1/-2;
  grid-row: 3/4;
}

.adv-feature-item {
  text-align: center;
  background-color: var(--basic-grey);
  padding-top: 47px;
}

.search {
  width: 568px;
  height: 233px;
}

.advantage-1 {
  background-color: #81B3D2;
  color: #FFFFFF;
  text-align: center;
}

.advantage-p-1 {
  font-size: 21px;
  line-height: 21px;
}

.features-list {
  list-style: none;
  color: #333333;
}

.feature-item-caption {
  font-size: 21px;
  color: var(--basic-black);
}

.features2 {
  background-color: var(--basic-grey);
}

.features,
.features2 {
  text-align: center;
}

.search {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search-caption {
  font-size: 30px;
  line-height: 24px;
}

.search-text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
}

.map {
  background-color: darksalmon;
}

.contacts {
  /*display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
  text-align: center;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 1200px; /*Нужно ли задавать ширину таким образом?*/
  list-style: none;
  margin: 36px 0;
}

.a {
  color: var(--basic-black);
}

/*.social-contacts {
  grid-column: 1/2;
  grid-row: 1/2;
}
*/

.social-networks {
  /*grid-column: 2/3;
  grid-row: 1/2;*/
  display: flex;
  justify-content: space-around;
}

/*.footer-site {
  /*grid-column: -1/-2;
}*/

.btn {
  padding: 30px 125px 30px 125px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.btn:hover,
.btn:focus {
  background-color: var(--special-brown);
}

.btn:active {
  background-color: var(--special-brown2);
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  text-align: center;
  vertical-align: center;
  background-color: var(--basic-blue);
  padding: 10px;
  margin-right: 10px;
}



/*C A T A L O G*/

.bc-catalog {
  background-image: url(../img/img-catalog/background.jpg);
  background-repeat: no-repeat;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  color: var(--basic-white);
}

.fieldset1 {
  grid-column: 1/2;
  border: none;
}

.fieldset2 {
  grid-column: 2/3;
  border: none;
}

.fieldset3 {
  grid-column: 3/4;
  justify-items: end;
  border: none;
}

.filter-list {
  list-style: none;
}

.min-price,
.max-price {
  background-color: transparent;
}

.filter-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: inherit;
}

.fieldset-filter-btn {
  text-align: center;
}

.filter-res {
  display: flex;
  justify-content: space-between;
  padding: 30px 73px;
}

.gallery {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 1fr;
  text-align: center;
}

.gal1, .gal2 {
  /*display: grid;
  grid-template-columns: 1fr 1fr 2fr;*/
  display: flex;
  justify-content: space-between;
  padding: 30px 73px;
  align-items: flex-end;
  border-top: 2px solid var(--grey-border);
}

.gal1-img, .gal2-img {
  /*grid-column: 1/2;*/
  align-self: center;
}

.gal1-description, .gal2-description {
  /*grid-column: 2/3;*/
  margin-right: auto;
  margin-left: 30px;
}

.gal1-rating, .gal2-rating {
  /*grid-column: 3/4;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}
/*
.gal2 {
  /*display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  display: flex;
  justify-content: space-between;
  padding: 30px 73px;
  align-items: flex-end;
  border-top: 2px solid var(--grey-border);
}

.gal2-img {
  /*grid-column: 1/2;
  align-self: center;
}

.gal2-description {
  /*grid-column: 2/3;
  margin-right: auto;
  margin-left: 30px;
}

.gal2-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  /*grid-column: 3/4;
}
*/

.gal3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border-top: 2px solid var(--grey-border);
  border-bottom: 2px solid var(--grey-border);
}

.gal3-img {
  grid-column: 1/2;
}

.gal3-description {
  grid-column: 2/3;
}

.gal3-rating {
  grid-column: 3/4;
}

/*F O O T E R*/

/*.main-footer {
  display: flex;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}*/

/*.contacts {} */
